<div class="row">
  <section id='slider_content'>
    <%=raw @page.content_for(:slider) %>
  </section>
</div>
<div class="row">
  <section id='body_content' class='nine columns'> 
  <%=raw @page.content_for(:body) %>
  </section> 
  <section id='side_body_content' class='three columns'> 
  <%=raw @page.content_for(:side_body) %>
  </section> 
</div>

<% content_for :javascripts do %>
    <% javascript_include_tag('orbit.js') %>
<% end %>
