<div class="row">
   <section id='slider_content' class='seven columns'>
    <%=raw @page.content_for(:slider) %>
  </section>
  <section id='slider_side_body_content' class='five columns'>
    <%= raw @page.content_for(:slider_side_body) %>
  </section>
</div>
<div class="row">
  <section id='home_side_body_content' class='three columns'> 
    <%=raw @page.content_for(:home_side_body) %>
  </section> 
  <section id='body_content' class='nine columns'> 
    <%=raw @page.content_for(:body) %>
  </section> 
</div>

<% content_for :javascripts do %>
    <% javascript_include_tag('orbit.js') %>
<% end %>
