<div class="row">
  <section id='body_content' class='nine columns'> 
  <%=raw @page.content_for(:body) %>
  </section> 
  <section id='side_body_content' class='three columns'> 
  <%=raw @page.content_for(:side_body) %>
  </section> 
</div>
