ul.vcard {
  float: right;
}

#share_this {
  position: absolute;
  left: 0;
  top: 50%;
}

#menu li.selected a {
  font-weight: bold;
  color: #333;
  background: white;
  border-left: 1px solid #ccddee;
  border-right: 1px solid #ccddee;
  border-top: 3px solid #55bbee;
  margin: 0 10px;
  position: relative;
  top: -5px;
  height: 30px;
  display: block;
  width: auto;
  padding: 8px 9px;
  line-height: 30px;
  border-radius: 14px 0px 0px;
}

#menu li a {
  padding: 7px 18px 9px;
  font-size: 1.3em;
  color: #555;
  background: none;
  border: none;
  display: block;
  width: auto;
  height: 29px;
  margin: 0 -1px 0 0;
}

#menu ul {
  border: 0;
  border-bottom: solid 1px #ccddee;
  margin: 0 0 30px 0;
  height: 43px;
}

#menu li {
  border: 0;
}

