body {
  background: url('polaroid.png') repeat top right;
}

#header {
  background: #fff;
  box-shadow: 0px 10px 15px #000;
}

ul.vcard {
  float: right;
  border: 0;
  padding: 0;
}

#share_this {
  position: absolute;
  left: 0;
  top: 50%;
}

#menu {
  background: #B4E4FA;
  margin-top: -5px;
}

.nav-bar {
  background: none;
}

#menu li.selected a {
  font-weight: bold;
  color: #333;
  background: white;
  border-top: 3px solid #55bbee;
  border-top: 3px solid #2C4099;
  height: 27px;
  line-height: 33px;
  box-shadow: inset 0px 5px 7px #ddd;
}

#menu li a {
  padding: 3px 10px 12px;
  font-size: 1.3em;
  color: #555;
  display: block;
  width: auto;
  height: 25px;
  line-height: 40px;
}

#menu ul {
  border: 0;
  margin: 0;
}

#menu li {
  border: 0;
}

.nav-bar li {
  border: 0;
}

#page {
  background: #fff;
  box-shadow: 0px 10px 15px #000;
}

#side_body_content ul {
  padding-top: 1em;
  padding-left: 1em;
}

#side_body_content p {
  padding-left: 1em;
}

#slider_side_body_content p {
  padding-top: 1em;
  padding-right: 1em;
}

#body_content {
  padding-top: 15px;
}

#body_content p, #body_content h3 {
  padding: 0 15px;
}

#body_content li {
  margin-left: 2em;
}

footer {
  text-align: center;
  margin: 2em;
}

blockquote {
  position: relative;
  padding-left: 170px;
  margin: 15px;
  border: 0;
}

#body_content blockquote p {
  padding-left: 0;
}

blockquote:before {
  content:"";
  position: absolute;
     top:0;
        bottom:0;
           left:0;
              right:0;
  z-index:-1;
  background:url(quotation_marks_left.jpg) top left no-repeat;
  opacity:0.2;
}

